$hanja-title-size:50px;
$hanja-kor-size:16px;
$hanja-desc-size:14px;
$hanja-font-family:'궁서체';

/* PC에 대한 스타일 */
@media screen and (min-width: 768px) {
    .content {
    font-size: 24px;
    text-align: center;
    }
}

/* 폰에 대한 스타일 */
@media screen and (max-width: 767px) {
    .content {
    font-size: 16px;
    text-align: left;
    }
}

.hanja-title {
    font-size:$hanja-title-size;
    font-family: $hanja-font-family;
    font-weight: bold;
    width: 220px;
}

.hanja-kor {
    font-size:$hanja-kor-size;
    font-family: $hanja-font-family;
    width: 110px;
    color: #cccccc;
}

.hanja-desc {
    font-size:$hanja-desc-size;
    font-family: $hanja-font-family;
}